# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Production directories
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db
